body {
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
  background-color: white !important;
}
@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  src: url(./assets/fonts/Segoe\ UI.ttf);
}
@font-face {
  font-family: "Segoe UI";
  font-weight: bold;
  src: url(./assets/fonts/Segoe\ UI\ Bold.ttf);
}
* {
  box-sizing: border-box;
  font-family: "Segoe UI";
}
.body-wrapper {
  width: 100%;
  height: 1198px;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.093) !important;
}
.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/* .container-loading video {
  object-fit: contain;
  width: 100%;
  object-position: center;
} */
.video-wrapper video {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center 85%;
    object-position: center 5%;
    position: fixed;
}
.header-banner-wrapper {
  position: relative;
  z-index: 1;
  height: 100% !important;
  display: flex !important;
  flex-direction: column;
}
.default-btn {
  color: white !important;
  font-size: 30px !important;
  border-radius: 33px !important;
  border: 3px solid white !important;
  font-weight: 600 !important;
  /* padding: 2px 10px !important; */
  width: 224px;
  height: 68px;
}

.social-media {
  width: 63px;
  height: 63px;
  padding: 5px;
  border: 2px solid white !important;
  border-radius: 50% !important;
  display: flex !important;
  transition: 0.1s ease-in-out;
  justify-content: center !important;
}
.social-media:hover {
  transform: scale(1.07);
}
.copywrite {
  max-width: 320px !important;
  font-size: 11px !important;
}
.logo {
  width: 100px !important;
}
@media (max-width: 992px) {
  .default-btn {
    font-size: 18px !important;
    width: 150px;
    height: 38px;
  }
  .logo {
    width: 60px !important;
  }
  .social-media {
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 576px) {
  .default-btn {
    width: 102px;
    height: 31px;
    font-size: 13px !important;
  }
  .logo {
    width: 50px !important;
  }
  .social-media {
    width: 39px;
    height: 39px;
  }
  .body-wrapper {
    height: 100vh;
  }
}
/* LOADING STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: 1a1a1a;
  animation: animateBackground 1s linear infinite;

  display: none;
}
.loading-active.container-loading {
  display: flex;
}
.body-wrapper {
  opacity: 0;
  pointer-events: none;
}
.body-wrapper.hide-loading {
  opacity: 1;
  pointer-events: all;
}
.loader {
  position: absolute;
  width: 150px;
  height: 150px;
  background: linear-gradient(to top, #1a1a1a 40%, #c3c3c3);
  border-radius: 50%;
  animation: animateRotate 2s linear infinite;
}

.loader::before {
  content: "";
  position: absolute;
  background: #1a1a1a;
  inset: 20px 20px 0 0;
  border-radius: 50%;
}

.loader::after {
  content: "";
  position: absolute;
  top: 50px;
  right: -10px;
  width: 40px;
  height: 40px;
  background: 1a1a1a;
  border-radius: 50%;
  box-shadow: 0 0 5px #c3c3c3, 0 0 25px #c3c3c3, 0 0 50px #c3c3c3,
    0 0 60px #c3c3c3;
}

@keyframes animateRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
